---
const { codeUrl: _codeUrl, projectUrl: _projectUrl } = Astro.props;
---

<div class="flex gap-4">
  {
    _projectUrl && (
      <a
        href={_projectUrl}
        target="_blank"
        class="flex w-full items-center justify-center rounded-full text-accent-300 bg-accent-700/10 px-8 py-3 text-base font-bold border border-accent-500/30 hover:bg-accent-700/20 transition-colors duration-200"
      >
        launch project
      </a>
    )
  }
  {
    _codeUrl && (
      <a
        href={_codeUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center gap-2 rounded-lg border border-base-200 px-4 py-2 text-sm font-medium text-base-700 hover:bg-base-50 dark:border-base-700 dark:text-base-300 dark:hover:bg-base-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
          />
        </svg>
        View Code
      </a>
    )
  }
</div>
